<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttm.pet.dao.CashOutMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttm.pet.model.dto.CashOut">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="price" property="price" />
        <result column="original_coin" property="originalCoin" />
        <result column="out_coin" property="outCoin" />
        <result column="account" property="account" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="rate" property="rate" />
        <result column="type" property="type" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, price, original_coin, out_coin, account, create_time, status, deleted, rate, type
    </sql>

</mapper>
