<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttm.pet.dao.CustomerCommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttm.pet.model.dto.CustomerComment">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="works_id" property="worksId" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, works_id, remark, create_time, deleted
    </sql>
    <select id="queryCustomerCommentVos" resultType="com.ttm.pet.model.vo.app.CustomerCommentVo">
        SELECT cc.id,cc.customer_id customerId,c.portrait,c.name customerName,cc.remark,UNIX_TIMESTAMP(cc.create_time) createDate,COUNT(cp.id) pcnt
        <if test="customerId != null and customerId != ''">
            ,case when cp2.id is null then 0 else 1 end isPoint
        </if>
        FROM t_customer_comment cc
        JOIN t_customer c ON cc.customer_id = c.uuid
        <if test="customerId != null and customerId != ''">
            LEFT JOIN t_customer_point cp2 ON cc.id = cp2.type_id AND cp2.type = 0 AND cp2.customer_id = #{customerId} AND cp2.deleted = 0
        </if>
        LEFT JOIN t_customer_point cp ON cc.id = cp.type_id AND cp.type = 0 AND cp.deleted = 0
        WHERE cc.works_id = #{worksId} AND cc.deleted = 0 AND c.deleted = 0
        GROUP BY cc.id
        ORDER BY COUNT(cp.id) DESC,cc.create_time DESC
    </select>
</mapper>
