<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttm.pet.dao.CustomerDonateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ttm.pet.model.dto.CustomerDonate">
        <id column="id" property="id" />
        <result column="customer_id" property="customerId" />
        <result column="business_customer_id" property="businessCustomerId" />
        <result column="base_customer_id" property="baseCustomerId" />
        <result column="food" property="food" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, customer_id, business_customer_id, base_customer_id, food, deleted, create_time
    </sql>
    <select id="querySupportFood" resultType="java.util.Map">
        select IFNULL(sum(food),0) supportFood
        from t_customer_donate
        where customer_id = #{customerId} and TO_DAYS(create_time) = TO_DAYS(NOW())
    </select>

</mapper>
