<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttm.pet.dao.ExhibitionBoothPayMapper">

    <!--创建订单-->
    <insert id="saveExhibitionBoothPay" >
        INSERT INTO t_exhibition_booth_pay (
            booth_id,
            customer_id,
            pay_type,
            pay_price,
            out_trade_no,
            pay_status,
            create_date,
            operate_date
        )
        VALUES
            (
                #{boothId},
                #{customerId},
                #{payType},
                #{payPrice},
                #{outTradeNo},
                '1',
                NOW(),
                NOW()
            )
    </insert>

    <!--修改订单状态-->
    <update id="updateExhibitionBoothPay">
        UPDATE t_exhibition_booth_pay
        SET
            pay_status = '2',
            pay_date = NOW()
        WHERE out_trade_no = #{outTradeNo}
    </update>

    <!--获取展位id-->
    <select id="getBoothId" resultType="com.ttm.pet.model.vo.app.ExhibitionPayVo">
        SELECT
            boot_id AS 'boothId',
            customer_id
        FROM t_exhibition_booth_pay
        WHERE out_trade_no = #{outTradeNo}
    </select>

    <!--我的订单列表-->
    <select id="listExhibitionBoothPay" resultType="com.ttm.pet.model.vo.app.ExhibitionBoothPayVo">
        SELECT
            t1.id,
            t3.exhibition_title,
            t2.booth_code,
            t2.booth_size,
            t1.pay_price,
            t3.cover_image,
            t1.pay_status
        FROM
            t_exhibition_booth_pay t1
        LEFT JOIN t_exhibition_booth t2 ON t1.booth_id = t2.id
        LEFT JOIN t_exhibition t3 ON t2.exhibition_id = t3.id
        WHERE
            t1.customer_id = #{customerId}
    </select>

    <!--获取我的展位订单详情-->
    <select id="getExhibitionPayDetail" resultType="com.ttm.pet.model.vo.app.ExhibitionPayDetailVo">
        SELECT
            t1.id,
            t1.out_trade_no,
            t3.exhibition_title,
            t2.booth_code,
            t2.booth_size,
            t1.pay_price,
            t2.booth_price AS 'oldPrice',
            t3.exhibition_address,
            t3.exhibition_start_time,
            t3.exhibition_end_time,
            t3.customer_telephone1,
            t3.customer_telephone2,
            t2.booth_status
        FROM
            t_exhibition_booth_pay t1
        LEFT JOIN t_exhibition_booth t2 ON t1.booth_id = t2.id
        LEFT JOIN t_exhibition t3 ON t2.exhibition_id = t3.id
        WHERE
            t1.id = #{payId}
    </select>
</mapper>